.btn {
  width: 123px;
  height: 32px;
  cursor: pointer;
}

.btn-gray {
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 8px 18px;
}

.btn-blue {
  background-color: #3bafda;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 8px 18px;
}

.btn-blue-hover:hover,
.btn-red-hover:hover,
.btn-gray-hover:hover {
  opacity: 0.7;
}
.btn-red {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 8px 18px;
}

.btn-prev,
.btn-next {
  background-color: #a0d468;
  border: none;
  width: 65px;
  padding: 5px, 10px;
  font-weight: bold;
  color: white;
}

.btn-count {
  width: 35px;
}
.btn-count:hover {
  background-color: #a0d468;
  border: #a0d468;
}

.btn-close,
.btn-send {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  width: 80px;
}
.btn-send {
  background-color: #a0d468;
  color: #fff;
  border-color: #a0d468;
}
.btn-buyNow {
  background-color: #a0d468;
  color: #fff;
  font-weight: 600;
  border: none;
  height: 50px;
  font-size: large;
}
.prevBtn {
  position: absolute;
  top: 40% !important;
  background-color: white !important;
  color: #000;
}

.NextBtn {
  position: absolute;
  top: 40% !important;
  background-color: white !important;
  color: #000;
  right: 0;
}
