.price-container {
  min-height: 250px;
  width: 361px;
  display: block;
  margin: auto;
  border-radius: 10px;
}
.Price {
  height: 80px;
  background-color: #a0d468;
  width: 361px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 83px 71px;
  font-weight: 900;
  font-size: 25px;
  color: #fff;
}
.unlimited {
  min-height: 150px;
  width: 361px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 228, 242);
  padding: 35px, 5px;
}
.unlimited > h4 {
  font-size: 30px;
  font-weight: 400;
  padding: 12px 2px;
}
.unlimited > hr {
  width: 90%;
  color: black;
  height: 8px;
  font-weight: bold;
}
.unlimited > h3 {
  line-height: 29px;
  font-weight: 100;
  padding-top: 10px;
}

.buy-now-btn {
  min-height: 110px;
  background-color: rgb(238, 238, 241);
  width: 361px;
  display: flex;
  justify-content: center;
  align-items: center;
}
